@model IEnumerable<Medico>
@{
    ViewData["Title"] = "Medicos";
}

<h1>Medicos</h1>
<p>
    <a  class="btn-floating btn-large red teal darken-1"asp-action="Create"><i class="material-icons">
person_add
</i></a>
</p>
<table class="responsive-table highlight z-depth-3 blue lighten-5">
    <thead class=" blue lighten-2 white-text">
        <tr>
            <th>
                @Html.DisplayNameFor(x=>x.Nombre)
            </th>
             <th>
                @Html.DisplayNameFor(x=>x.Apellido)
            </th>
             <th>
                @Html.DisplayNameFor(x=>x.Direccion)
            </th>
             <th>
                @Html.DisplayNameFor(x=>x.Telefono)
            </th>
             <th>
                @Html.DisplayNameFor(x=>x.Email)
            </th> 
             <th>
                @Html.DisplayNameFor(x=>x.HorarioAtencionDesde)
            </th>
             <th>
                @Html.DisplayNameFor(x=>x.HorarioAtencioHasta)
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
                <tr>
                    <td>
                        @Html.DisplayFor(x=>item.Nombre)
                    </td>                
         
                    <td>
                        @Html.DisplayFor(x=>item.Apellido)
                    </td>
          
                     <td>
                        @Html.DisplayFor(x=>item.Direccion)
                    </td>          
                
                    <td>
                    @Html.DisplayFor(x=>item.Telefono)
                    </td>              
              
                    <td>
                    @Html.DisplayFor(x=>item.Email)
                    </td>
                    <td>
                    @Html.DisplayFor(x=>item.HorarioAtencionDesde)
                    </td>
                    <td>
                    @Html.DisplayFor(x=>item.HorarioAtencioHasta)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id"><i class="material-icons">edit</i></a>
                            <a asp-action="Details" asp-route-id="@item.Id"><i class="material-icons grey-text">info</i></a>
                           <a asp-action="Eliminar" asp-route-id="@item.Id"><i class="material-icons red-text">delete</i></a>
                    </td>
                </tr>

        }
    </tbody>
</table>